{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<form action="/changepassword" method="post">
  <div class="form-group">
    <input class="form-control" name="current_password" placeholder="Current Password" type="password">
  </div>
  <div class="form-group">
    <input data-toggle="tooltip" data-html="true" data-placement="right" title="Your password must:<br>* Be at least 8 characters<br>*
        Have at least one number<br>* Have at least one symbol<br>* Have at least one upper case letter<br>* Have at
        least one lower case letter" class="form-control" name="new_password" placeholder="New Password"
      type="password">
  </div>
  <div class="form-group">
    <input class="form-control" name="new_password_confirmation" placeholder="Confirm New Password" type="password">
  </div>
  <button class="btn btn-primary" type="submit">Confirm</button>
</form>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>

{% endblock %}